{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="register">
        <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/LogoFull.png" /></a>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nom )}}
            {{ form_row(registrationForm.prenom )}}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.adresse )}}
            {{ form_row(registrationForm.codePostal )}}

            <button type="submit" class="register_submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
        </div>
    <div id="register_smiley"></div>
{% endblock %}
