<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Happy Cycle{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lato:wght@300&family=Righteous&display=swap" rel="stylesheet"> 
            <link href={{ asset('css/main.css') }} rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Header #}
            <div id="header">
                <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/Logo.png" /></a>
                <ul class="menu">
                    <li><a href="qsn">Qui sommes nous ?</a></li>
                    <li><a href="contact">Nous contacter</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="logout">Se deconnecter</a></li>
                        <li><a href="profil">Profile</a></li>
                    {% else %}
                        <li><a href="login">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="profil">
                <p class="welcome">Bienvenu sur votre profile !</p>
                <div class="info">
                    <div class="img_profil">
                        <img alt="image profile" src="img/chara/clement.png" />
                    </div>
                    <div class="detail">
                        <p> Nom / Prénom : <span>{{ app.user.nom }}</span>  / <span>{{ app.user.prenom }}</span> </p>
                        <p>Adresse mail : <span>{{ app.user.email }}</span></p>
                        <p> Adresse : <span>{{ app.user.adresse }} , {{ app.user.codePostal }}</span> </p>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="admin_button">
                    <a class="admin_link" href="admin">Dashboard Admin</a>
                </div>
                {% endif %}
            </div>
        {% endblock %}
    </body>
</html>
