<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Happy Cycle{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href={{ asset('css/main.css') }} rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Header #}
            <div id="header">
                <a class="lien_logo" href="home"><img class="logo_header" alt="logo" src="img/Logo.png" /></a>
                <ul class="menu">
                    <li><a href="qsn">Qui sommes nous ?</a></li>
                    <li><a href="contact">Nous contacter</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="logout">Se deconnecter</a></li>
                        <li><a href="profil">Profile</a></li>
                    {% else %}
                        <li><a href="login">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
            <h2>{{ app.user.email }}</h2>
            <p> {{ app.user.nom }} {{ app.user.prenom }} </p>
            <p> Adresse : {{ app.user.adresse }} , {{ app.user.codePostal }} </p>
        {% endblock %}
    </body>
</html>
